<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.boot.test.poi.dao.EventDao">

    <select id="selectList" parameterType="com.boot.test.poi.pojo.EventPojo"
            resultType="com.boot.test.poi.pojo.EventPojo">
		<![CDATA[
			select * from userinfo
		]]>
	</select>

    <select id="insert" parameterType="com.boot.test.poi.pojo.EventPojo">
          <![CDATA[
            insert into eventInfo values(#{id},#{eventId},#{eventDes},#{remark},#{reason})
        ]]>
    </select>

</mapper>


